.AddCategory{
  box-shadow: 2px 6px 6px 6px rgba(#000, 0.3);
  background: #ffffff;
  height: 650px;
  width: 500px;
  margin-top: 200px;
  border-radius: 50px;
  margin-left: 40%;
  display: flex;
  justify-content: center;
  
  .cardTitle{
      padding: 30px 40px;
      margin-bottom: 0px;

      legend{
        text-align: center;
      }

      .colorBar{
          background-color: #ffffff;
          padding: 10px 10px;
          width: 1000px;
          height: 5px;
          margin-right: 50px;
      }
      .btnAddR{
        display: flex;
        justify-content: center;
        text-align: center  ;
        margin-top: 15px;
      }
  }

}
