.footer {
  bottom: 0;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  padding: 0px 5%;
  box-shadow: 0px 5px 10px 0px;
  background-image: url("https://i.pinimg.com/564x/94/24/f5/9424f50e6dcdd230d42aea1d2a1e5614.jpg");
  img {
    max-width: 150px;
  }
  p{
    text-align: center;
    align-items: center;
  }
}

.footerBox {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  text-align: center;
 
}
.footerLink {
  text-decoration: none;
}

.footerName {
  color: #40916c;
}
