#full-stars-example-two {

    /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
    .rating-group {
      display: inline-flex;
    }
    
    /* make hover effect work properly in IE */
    .rating__icon {
      pointer-events: none;
    }
    
    /* hide radio inputs */
    .rating__input {
     position: absolute !important;
     left: -9999px !important;
    }
    
    /* hide 'none' input from screenreaders */
    .rating__input--none {
      display: none
    }
  
    /* set icon padding and size */
    .rating__label {
      cursor: pointer;
      padding: 0 0.1em;
      font-size: 2rem;
    }
    
    /* set default star color */
    .rating__icon--star {
      color: orange;
    }
  
    /* if any input is checked, make its following siblings grey */
    .rating__input:checked ~ .rating__label .rating__icon--star {
      color: #ddd;
    }
    
    /* make all stars orange on rating group hover */
    .rating-group:hover .rating__label .rating__icon--star {
      color: orange;
    }
  
    /* make hovered input's following siblings grey on hover */
    .rating__input:hover ~ .rating__label .rating__icon--star {
      color: #ddd;
    }
  }
  
  
  body {
    padding: 1rem;
    text-align: center;
  }
  
  // body {
  //   font-family: Arial, sans-serif;
  //   background-size: cover;
  //   height: 100vh;
  // }
  
  h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    align-items: center;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 250px auto;
    padding: 20px;
    background: antiquewhite;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

  .star {
    align-items: center;
    size: 30px;
  }