@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300');


 .singleCard {
    box-shadow: 0px 6px 6px rgba(#000, 0.3);
    background: #B7E4C7;
    height: 700px;
    width: 1250px;
    margin-top: 50px;
    border-radius: 50px;

    .cardTitle{
        display: flex;
        align-items: flex-start;
        text-align: center;
        padding: 30px 40px;

        h5{
            flex: 0 1 120px;
            margin: 0;
            text-align: right;
            color: #686e77;
            font-family: sans-serif;
            font-weight: 600;
            font-size: 20px;
            text-transform: uppercase;
          }

        .colorBar{
            background-color: #2D6A4F;
            padding: 10px 10px;
            width: 1000px;
            height: 5px;
            margin-right: 50px;
        }
    }

    .bodyCard{
        padding: 0 40px;
        display: flex;
        flex-flow: row no-wrap;
        margin-bottom: 25px;
        
        > .half{
          box-sizing: border-box;
          padding: 0 15px;
          flex: 1 0 50%;
          max-height: 600px;
        }
        
        .text{
          h1{
            margin: 0;
            padding: 0;
            font-weight: 800;
            font-family: "Montserrat", sans-serif;
            font-size: 55px;
            line-height: 50px;
            color: #1B4332;
          }
          
          p{
            margin: 0;
            padding: 0;
            
            &.sub{
              font-family: "Montserrat", sans-serif;
              font-size: 26px;
              text-transform: uppercase;
              color: #686e77;
              font-weight: 300;
              margin-bottom: 5px;
            }
            
            &.price{
              font-family: "Fjalla One", sans-serif;
              color: #081C15;
              font-size: 26px;

            }
          }
        }
        .image{
            padding-top: 15px;
            max-width: 90%;
            display: flex;
       
            
            
            img{
              display: block;
              max-width: 90%;
              height: auto;
              max-height: 400px;
            }
          }

          .description{
            margin-bottom: 25px;
            margin-top: 150px;
         
            
            p{
              margin: 0;
              font-family: "Open Sans", sans-serif;
              font-weight: 300;
              line-height: 27px;
              font-size: 16px;
              color: #555;
            }
          }
          
          span.stock{
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            color: #a1cc16;
          }
          
          .reviews{
           
            .rating-color{
                color: #a1cc16;
            }
            > span{
              font-family: "Open Sans", sans-serif;
              font-size: 14px;
              margin-left: 5px;
              color: #555;
            }
          }
    }

} 











/* 


.card{
  box-shadow: 0 6px 6px rgba(#000, 0.3);
  background: #fff;
  height: 500px;
  width: 1000px;
  margin-top: 50px;
  border-radius: 50px;
  
  .card__title{
    display: flex;
    align-items: center;
    padding: 30px 40px;
    
    h3{
      flex: 0 1 200px;
      text-align: right;
      margin: 0;
      color: #252525;
      font-family: sans-serif;
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
    }
    
    .icon{
      flex: 1 0 10px;
      background: #40916C;
      color: #fff;
      padding: 10px 10px;
      transition: 200ms;
      
      > a{
        color: #fff;
      }
      
      &:hover{
        background: #252525;
      }
    }
  }
 
  
  .card__body{
    padding: 0 40px;
    display: flex;
    flex-flow: row no-wrap;
    margin-bottom: 25px;
    
    > .half{
      box-sizing: border-box;
      padding: 0 15px;
      flex: 1 0 50%;
    }
    
    .featured_text{
      h1{
        margin: 0;
        padding: 0;
        font-weight: 800;
        font-family: "Montserrat", sans-serif;
        font-size: 64px;
        line-height: 50px;
        color: #181e28;
      }
      
      p{
        margin: 0;
        padding: 0;
        
        &.sub{
          font-family: "Montserrat", sans-serif;
          font-size: 26px;
          text-transform: uppercase;
          color: #686e77;
          font-weight: 300;
          margin-bottom: 5px;
        }
        
        &.price{
          font-family: "Fjalla One", sans-serif;
          color: #252525;
          font-size: 26px;
        }
      }
    }


   .image{
      padding-top: 15px;
      width: 100%;
      
      img{
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
    
    .description{
      margin-bottom: 25px;
      
      p{
        margin: 0;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        line-height: 27px;
        font-size: 16px;
        color: #555;
      }
    }
    
    span.stock{
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      color: #a1cc16;
    }
    
    .reviews{
      .stars{
        display: inline-block;
        list-style: none;
        padding: 0;
        
        > li{
          display: inline-block;
          
          .fa{
            color: #f7c01b;
          }
        }
      }
      
      > span{
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        margin-left: 5px;
        color: #555;
      }
    }
  }
  
  .card__footer{
    padding: 30px 40px;
    display: flex;
    flex-flow: row no-wrap;
    align-items: center;
    position: relative;
    
    &::before{
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 40px;
      width: calc(100% - 40px);
      height: 3px;
      background: #115dd8;
      background: linear-gradient(to right, #115dd8 0%,#115dd8 20%,#ddd 20%,#ddd 100%);
    }
    
    .recommend{
      flex: 1 0 10px;
      
      p{
        margin: 0;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        color: #555;
      }
     
      h3{
        margin: 0;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        color: #115dd8;
      }
    }
    
    .action{
      button{
        cursor: pointer;
        border: 1px solid #115dd8;
        padding: 14px 30px;
        border-radius: 200px;
        color: #fff;
        background: #115dd8;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        transition: 200ms;
        
        &:hover{
          background: #fff;
          color: #115dd8;
        }
      }
    }
  }
}  */